.card {
	flex: 1 1 calc(25% - 16px); /* Основная ширина карточек: 25% от контейнера минус промежуток */
	min-width: 200px; /* Минимальная ширина карточки для предотвращения слишком маленького размера */
	max-width: 300px; /* Максимальная ширина карточки для предотвращения слишком большого размера */
	background-color: #0a0a0a;
	border-radius: 5px;
	padding: 10px;
}
.image {
	border-radius: 5px;
}
.hero-name {
	letter-spacing: 2px;
	font-size: 35px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}
